:root {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  /* So the footer is always at the bottom */
  display: flex;
  flex-direction: column;
  & > main {
    width: 100%;
    flex-grow: 1;
  }
}


/* Header */
.site-header {
  background: #eaeaea;
  padding: 1rem;
}

.site-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.cart-link {
  position: relative;
}

.cart-link span {
  position: absolute;
  top: -8px;
  right: -8px;

  display: inline-block;
  background-color: orangered;
  color: white;
  width: 18px;
  height: 18px;
  font-size: .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

/* Main Content */
.main-content {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

/* Products */
#products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.product-card {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
}

.product-card button {
  background: lightgray;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;

  &:hover {
    background: #b1b1b1;
  }

  &:active {
    background: #8b8b8b;
  }
}

/* Login */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

/* Footer */
.site-footer {
  background: #eaeaea;
  padding: 1rem;
  text-align: center;
}

.footer-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer-links a {
  text-decoration: none;
  color: black;
}
 
#welcomeMessage {
  
  font-size: 1.2rem;
  font-style: italic;
  color: rgb(187, 4, 4);
  font-weight: 700;
  
  margin-top: 2rem;
}